/* Default Translate Element */
body{
  margin: 0 !important;
  top: 0 !important;
}

/* Hide the Google Translate attribution */
.goog-te-banner-frame,
.goog-te-gadget-simple,
.goog-gt-tt,
.goog-te-combo,
.skiptranslate,
.skiptranslate > *,
.VIpgJd-yAWNEb-L7lbkb,
.VIpgJd-ZVi9od-vH1Gmf,
.VIpgJd-ZVi9od-xl07Ob-lTBxed,
.VIpgJd-ZVi9od-xl07Ob-OEVmcd,
.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-ZVi9od-ORHb-OEVmcd,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc,
iframe.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}
