/* Dropdown Menu */
.goog-te-gadget-simple {
  display: inline-block;
  padding: 4px 8px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  font-size: inherit;
  border: none !important;
  background-color: hsl(146, 0%, 95%) !important;
  border-radius: 4px;
}

.goog-te-gadget-simple::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 3px;
  left: 8px;
  width: 20px;
  height: 20px;
  background-color: transparent !important;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='fill:none;stroke:%231a1a1a;stroke-linecap:round;stroke-linejoin:round'%3E%3Cpath d='M.5,2V18A1.5,1.5,0,0,0,2,19.5H17L10.5.5H2A1.5,1.5,0,0,0,.5,2Z' /%3E%3Cpath d='M12,4.5H22A1.5,1.5,0,0,1,23.5,6V22A1.5,1.5,0,0,1,22,23.5H13.5l-1.5-4' /%3E%3Cline x1='17' x2='13.5' y1='19.5' y2='23.5' /%3E%3Cline x1='14.5' x2='21.5' y1='10.5' y2='10.5' /%3E%3Cline x1='17.5' x2='17.5' y1='9.5' y2='10.5' /%3E%3Cpath d='M20,10.5c0,1.1-1.77,4.42-4,6' /%3E%3Cpath d='M16,13c.54,1.33,4,4.5,4,4.5' /%3E%3Cpath d='M10.1,7.46a4,4,0,1,0,1.4,3h-4' /%3E%3C/g%3E%3C/svg%3E")
    center / 12px no-repeat;
  background-size: 18px 18px;
}

/* Inner Content */
.VIpgJd-ZVi9od-xl07Ob-lTBxed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.VIpgJd-ZVi9od-xl07Ob-lTBxed span{
  color: hsl(146, 0%, 20%) !important;
  border-left: none !important;
}

/* Popup menu */
:global(.VIpgJd-ZVi9od-xl07Ob-OEVmcd) {
  margin-left: -25px;
}

:global(.VIpgJd-ZVi9od-xl07Ob-lTBxed) {
  text-decoration: none;
  color: hsl(146, 0%, 10%);
  white-space: nowrap;
  margin-left: 4px;
  margin-right: 4px;
}

:global(.VIpgJd-ZVi9od-vH1Gmf) {
  background-color: #000 !important;
  text-decoration: none;
  border: 1px solid hsl(146, 0%, 10%) !important;
  overflow: hidden;
  padding: 4px;
}

.goog-te-menu-frame .VIpgJd-ZVi9od-xl07Ob-OEVmcd {
  box-shadow: none !important;
}
